<!DOCTYPE html>

<html>
<head>
    <title> ProjetTIC </title>
    <link rel="stylesheet" href="/assets/semantis/semantics.min.css">

</head>

<body>
<h1> Test </h1>

<div class='container'>
    <!-- Codes barre : '3272770098090', '3302745733029', '3270190207689'-->
    <button id="search" onclick="searchProduct(3272770098090)">Ajouter un produit</button>
</div>
</body>

<script type="text/javascript" src="/models/data.js"></script>

</html>